.header {
  width: 100%;
  height: 30px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.headerList {
  display: flex;
  justify-content: flex-end;
}

.headerListItem {
  display: flex;
  padding: 5px 20px;
}

.headerLink {
  cursor: pointer;
}
